/* Stylesheet by Brian Robinson, 2017 */
body{
	height:800px;	
}

#map { 
	height: 100%;
	width: 100%;
	display: inline-block;
	
}


.leaflet-popup-content p {
    margin: 0.2em 0;
	font-family: 'Cabin', sans-serif;
	font-size: 10pt;
}
